In [91]:
import numpy as np
import pandas as pd
import os
import io
from IPython.display import display, HTML, Image
from pandas_profiling import ProfileReport

In [2]:
home = %env HOME
%env DATA_HOME=$home/Documents/GitHub/kgtk/kgtk/tests/data/kypher
data_home = %env DATA_HOME

%env GRAPH=$data_home/graph.tsv
%env WORKS=$data_home/works.tsv
%env QUALS=$data_home/quals.tsv
%env PROPS=$data_home/props.tsv

env: DATA_HOME=/Users/pedroszekely/Documents/GitHub/kgtk/kgtk/tests/data/kypher
env: GRAPH=/Users/pedroszekely/Documents/GitHub/kgtk/kgtk/tests/data/kypher/graph.tsv
env: WORKS=/Users/pedroszekely/Documents/GitHub/kgtk/kgtk/tests/data/kypher/works.tsv
env: QUALS=/Users/pedroszekely/Documents/GitHub/kgtk/kgtk/tests/data/kypher/quals.tsv
env: PROPS=/Users/pedroszekely/Documents/GitHub/kgtk/kgtk/tests/data/kypher/props.tsv

In [3]:
!cat $GRAPH

id	node1	label	node2
e11	Hans	loves	Molly
e12	Otto	loves	Susi
e13	Joe	friend	Otto
e14	Joe	loves	Joe
e21	Hans	name	'Hans'@de
e22	Otto	name	'Otto'@de
e23	Joe	name	"Joe"
e24	Molly	name	"Molly"
e25	Susi	name	"Susi"

In [4]:
!cat $WORKS

id	node1	label	node2	node1;salary	graph
w11	Hans	works	ACME	10000	employ
w12	Otto	works	Kaiser	8000	employ
w13	Joe	works	Kaiser	20000	employ
w14	Molly	works	Renal	11000	employ
w15	Susi	works	Cakes	9900	employ
w21	Hans	department	R&D		employ
w22	Otto	department	Pharm		employ
w23	Joe	department	Medic		employ
w24	Molly	department	Sales		employ
w25	Susi	department	Sales		employ

In [5]:
!cat $QUALS

id	node1	label	node2	graph
m11	w11	starts	^1984-12-17T00:03:12Z/11	quals
m12	w12	ends	^1987-11-08T04:56:34Z/10	quals
m13	w13	starts	^1996-02-23T08:02:56Z/09	quals
m14	w14	ends	^2001-04-09T06:16:27Z/08	quals
m15	w15	starts	^2008-10-01T12:49:18Z/07	quals

In [6]:
!cat $PROPS

id	node1	label	node2	graph
p11	starts	member	set1	props
p12	ends	member	set1	props

In [7]:
!kgtk query --help

usage: kgtk query [-h] [--input INPUT] [--query QUERY] [--match PATTERN]
                  [--where CLAUSE] [--return CLAUSE] [--order-by CLAUSE]
                  [--skip CLAUSE] [--limit CLAUSE] [--para NAME=VAL]
                  [--spara NAME=VAL] [--lqpara NAME=VAL]
                  [--graph-cache GRAPH_CACHE_FILE] [-o OUTPUT]

Query one or more KGTK files with Kypher.

optional arguments:
  -h, --help            show this help message and exit
  --input INPUT, -i INPUT
                        one or more named input files to query (maybe
                        compressed)
  --query QUERY         complete Kypher query combining all clauses, if
                        supplied, all other specialized clause arguments will
                        be ignored
  --match PATTERN       MATCH pattern of a Kypher query, defaults to universal
                        node pattern `()'
  --where CLAUSE        WHERE clause of a Kypher query
  --return CLAUSE       RETURN clause of a Kypher query (defaults to *)
  --order-by CLAUSE     ORDER BY clause of a Kypher query
  --skip CLAUSE         SKIP clause of a Kypher query
  --limit CLAUSE        LIMIT clause of a Kypher query
  --para NAME=VAL       zero or more named value parameters to be passed to
                        the query
  --spara NAME=VAL      zero or more named string parameters to be passed to
                        the query
  --lqpara NAME=VAL     zero or more named LQ-string parameters to be passed
                        to the query
  --graph-cache GRAPH_CACHE_FILE
                        database cache where graphs will be imported before
                        they are queried (defaults to per-user temporary file)
  -o OUTPUT, --out OUTPUT
                        output file to write to, if `-' (the default) output
                        goes to stdout

In [8]:
!kgtk query -i $QUALS --match '()'

id	node1	label	node2	graph
m11	w11	starts	^1984-12-17T00:03:12Z/11	quals
m12	w12	ends	^1987-11-08T04:56:34Z/10	quals
m13	w13	starts	^1996-02-23T08:02:56Z/09	quals
m14	w14	ends	^2001-04-09T06:16:27Z/08	quals
m15	w15	starts	^2008-10-01T12:49:18Z/07	quals

In [9]:
!kgtk query -i $QUALS

id	node1	label	node2	graph
m11	w11	starts	^1984-12-17T00:03:12Z/11	quals
m12	w12	ends	^1987-11-08T04:56:34Z/10	quals
m13	w13	starts	^1996-02-23T08:02:56Z/09	quals
m14	w14	ends	^2001-04-09T06:16:27Z/08	quals
m15	w15	starts	^2008-10-01T12:49:18Z/07	quals

In [ ]:
!kgtk query -i $QUALS --match '()-[]->()'

In [ ]:
!kgtk query -i $GRAPH

In [ ]:
!kgtk query -i $GRAPH --limit 3

In [ ]:
!kgtk query -i $GRAPH --skip 2 --limit 3

In [ ]:
!kgtk query -i $GRAPH --match '(:Hans)-[]->()'

In [ ]:
!kgtk query -i $GRAPH --match '()-[:name]->()'

In [ ]:
!kgtk query -i $GRAPH --match '(:Otto)-[:name]->()'

In [ ]:
! kgtk query -i $GRAPH \
  --match '(p)-[:name]->(n)' \
  --where 'n =~".*(.)\\1.*"'

In [ ]:
!kgtk query -i $GRAPH \
  --match '(p)-[:name]->(n)' \
  --where 'p IN ["Hans", "Susi"]'

In [ ]:
!kgtk query -i $GRAPH \
  --match '(p)-[:name]->(n)' \
  --where "upper(substr(n,2,1)) >= 'J'"

In [ ]:
!kgtk query -i $GRAPH \
  --match '(p)-[:name]->(n)' \
  --where "upper(substr(n,2,1)) >= 'J'" \
  --order-by 'n desc'

In [ ]:
!kgtk query -i $GRAPH \
  --match '(p)-[:name]->(n)' \
  --where 'n =~".*(.)\\1.*"' \
  --return 'p, n'

In [ ]:
!kgtk query -i $GRAPH \
  --match '(p)-[r:name]->(n)' \
  --where 'n =~".*(.)\\1.*"' \
  --return 'p, n, r, r.label'

In [ ]:
!kgtk query -i $GRAPH \
  --match '(p)-[r:name]->(n)' \
  --where 'n =~".*(.)\\1.*"' \
  --return 'p, r.label, lower(n), r'

In [ ]:
!kgtk query -i $GRAPH \
  --match '(p)-[r:name]->(n)' \
  --where 'n =~".*(.)\\1.*"' \
  --return 'p, r.label, kgtk_unstringify(n), r'

In [25]:
!kgtk query -i $GRAPH \
  --match '(p)-[r:name]->(n)' \
  --where 'n =~".*(.)\\1.*"' \
  --return 'kgtk_stringify(p) as node1, r.label, kgtk_unstringify(n) as node2, r'

node1	label	node2	id
"Otto"	name	'Otto'@de	e22
"Molly"	name	Molly	e24

In [26]:
!kgtk --debug query -i $GRAPH \
  --match '()-[:name]->(n)' \
  --where 'n = $name OR n = $name2 OR n = $name3 ' \
  --para name="'Hans'@de" --spara name2=Susi --lqpara name3=Otto@de

[2020-09-15 13:20:10 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_2 graph_2_c1
     WHERE graph_2_c1."label"=?
     AND ((graph_2_c1."node2" = ?) OR ((graph_2_c1."node2" = ?) OR (graph_2_c1."node2" = ?)))
  PARAS: ['name', "'Hans'@de", '"Susi"', "'Otto'@de"]
---------------------------------------------
id	node1	label	node2
e21	Hans	name	'Hans'@de
e22	Otto	name	'Otto'@de
e25	Susi	name	"Susi"

In [27]:
!kgtk query -i $QUALS \
  --match '(eid)-[q]->(time)' \
  --where 'time.kgtk_date_year < 2005'

id	node1	label	node2	graph
m11	w11	starts	^1984-12-17T00:03:12Z/11	quals
m12	w12	ends	^1987-11-08T04:56:34Z/10	quals
m13	w13	starts	^1996-02-23T08:02:56Z/09	quals
m14	w14	ends	^2001-04-09T06:16:27Z/08	quals

In [28]:
!kgtk --debug query -i $GRAPH \
  --match '(p)-[r:name]->(n)' \
  --where 'n.kgtk_lqstring_lang = "de"'

[2020-09-15 13:20:12 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_2 graph_2_c1
     WHERE graph_2_c1."label"=?
     AND (kgtk_lqstring_lang(graph_2_c1."node2") = ?)
  PARAS: ['name', 'de']
---------------------------------------------
id	node1	label	node2
e21	Hans	name	'Hans'@de
e22	Otto	name	'Otto'@de

In [29]:
!kgtk --debug query -i $GRAPH \
  --match '(a)-[]->(a)'

[2020-09-15 13:20:12 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_2 graph_2_c1
     WHERE graph_2_c1."node1"=graph_2_c1."node2"
  PARAS: []
---------------------------------------------
id	node1	label	node2
e14	Joe	loves	Joe

In [30]:
!kgtk query -i $GRAPH \
  --match '(na)<-[:name]-(a)-[r:loves]->(b)-[:name]->(nb)' \
  --return 'r, na, r.label, nb'

id	node2	label	node2
e11	'Hans'@de	loves	"Molly"
e12	'Otto'@de	loves	"Susi"
e14	"Joe"	loves	"Joe"

In [31]:
!kgtk query -i $GRAPH \
  --match '(na)<-[:name]-(a)-[r:loves]->(b)-[:name]->(nb)' \
  --where 'na.kgtk_lqstring_lang = "de" OR nb.kgtk_lqstring_lang = "de"' \
  --return 'r, na, r.label, nb'

id	node2	label	node2
e11	'Hans'@de	loves	"Molly"
e12	'Otto'@de	loves	"Susi"

In [32]:
!kgtk query -i $GRAPH -i $WORKS \
  --match 'g: (x)-[:loves]->(y), w: (y)-[:works]-(c)'

id	node1	label	node2	id	node1	label	node2	node1;salary	graph
e14	Joe	loves	Joe	w13	Joe	works	Kaiser	20000	employ
e11	Hans	loves	Molly	w14	Molly	works	Renal	11000	employ
e12	Otto	loves	Susi	w15	Susi	works	Cakes	9900	employ

In [33]:
!kgtk query -i $GRAPH -i $WORKS \
  --match 'g: (x)-[:loves]->(y), w: (y)-[:works]-(c)' \
  --return 'x, "loves/works" as label, c'

node1	label	node2
Joe	loves/works	Kaiser
Hans	loves/works	Renal
Otto	loves/works	Cakes

In [34]:
!kgtk query -i $GRAPH -i $WORKS \
  --match 'g: (x)-[r:loves]->(y), w: (y)-[:works]-(c)' \
  --return 'r, x, r.label, y as node2, c as `node2;work`'

id	node1	label	node2	node2;work
e14	Joe	loves	Joe	Kaiser
e11	Hans	loves	Molly	Renal
e12	Otto	loves	Susi	Cakes

In [35]:
!kgtk --debug query -i $GRAPH -i $WORKS \
  --match 'g: (x)-[r:loves]->(y), w: (y {salary: s})-[:works]-(c)' \
  --where 's >= 10000' \
  --return 'r, x, r.label, y as node2, c as `node2;work`, s as `node2;salary`'

[2020-09-15 13:20:17 query]: SQL Translation:
---------------------------------------------
  SELECT graph_2_c1."id", graph_2_c1."node1", graph_2_c1."label", graph_3_c2."node1" "node2", graph_3_c2."node2" "node2;work", graph_3_c2."node1;salary" "node2;salary"
     FROM graph_2 graph_2_c1, graph_3 graph_3_c2
     WHERE graph_2_c1."label"=?
     AND graph_3_c2."label"=?
     AND graph_3_c2."node1;salary"=graph_3_c2."node1;salary"
     AND graph_2_c1."node2"=graph_3_c2."node1"
     AND (graph_3_c2."node1;salary" >= ?)
  PARAS: ['loves', 'works', 10000]
---------------------------------------------
id	node1	label	node2	node2;work	node2;salary
e14	Joe	loves	Joe	Kaiser	20000
e11	Hans	loves	Molly	Renal	11000
e12	Otto	loves	Susi	Cakes	9900

In [36]:
!kgtk query -i $GRAPH -i $WORKS \
  --match 'g: (x)-[r:loves]->(y), w: (y {salary: s})-[:works]-(c)' \
  --where 'cast(s, integer) >= 10000' \
  --return 'r, x, r.label, y as node2, c as `node2;work`, s as `node2;salary`'

id	node1	label	node2	node2;work	node2;salary
e14	Joe	loves	Joe	Kaiser	20000
e11	Hans	loves	Molly	Renal	11000

In [37]:
!kgtk --debug query -i $GRAPH \
  --match 'g: (x)-[r]->(y)' \
  --return 'max(x) as node1, r.label, y, r'

[2020-09-15 13:20:19 query]: SQL Translation:
---------------------------------------------
  SELECT max(graph_2_c1."node1") "node1", graph_2_c1."label", graph_2_c1."node2", graph_2_c1."id"
     FROM graph_2 graph_2_c1
  PARAS: []
---------------------------------------------
node1	label	node2	id
Susi	name	"Susi"	e25

In [38]:
!kgtk query -i $GRAPH \
  --match 'g: (x)-[r]->(y)' \
  --return 'r, max(x), r.label, y' \
  --limit 5

id	max(graph_2_c1."node1")	label	node2
e11	Hans	loves	Molly
e12	Otto	loves	Susi
e13	Joe	friend	Otto
e14	Joe	loves	Joe
e21	Hans	name	'Hans'@de

In [39]:
!kgtk query -i $GRAPH \
  --match 'g: (x)-[r]->(y)' \
  --where 'x = "Joe"' \
  --return 'count(x) as N'

N
3

In [40]:
!kgtk query -i $GRAPH \
  --match 'g: (x)-[r]->(y)' \
  --where 'x = "Joe"' \
  --return 'count(distinct x) as N'

N
1

In [9]:
home = %env HOME
%env WIKIDATA_HOME=$home/data/wikidata-20200803
wikidata_home = %env WIKIDATA_HOME

%env EDGES=$wikidata_home/wikidata-20200803-all-edges.tsv.gz
%env QUALS=$wikidata_home/wikidata-20200803-all-qualifiers.tsv.gz
%env LABELS=$wikidata_home/wikidata-20200803-all-labels-en-sorted.tsv.gz

%env STORE=$wikidata_home/wikidata-20200803.sqlite3.db

env: WIKIDATA_HOME=/Users/pedroszekely/data/wikidata-20200803
env: EDGES=/Users/pedroszekely/data/wikidata-20200803/wikidata-20200803-all-edges.tsv.gz
env: QUALS=/Users/pedroszekely/data/wikidata-20200803/wikidata-20200803-all-qualifiers.tsv.gz
env: LABELS=/Users/pedroszekely/data/wikidata-20200803/wikidata-20200803-all-labels-en-sorted.tsv.gz
env: STORE=/Users/pedroszekely/data/wikidata-20200803/wikidata-20200803.sqlite3.db

In [87]:
%env K=/Users/pedroszekely/Downloads/kypher

env: K=/Users/pedroszekely/Downloads/kypher

In [126]:
%env TS_STORE=/Users/pedroszekely/Downloads/kypher/test.sqlite3.db
%env TS_STORE=/Users/pedroszekely/Downloads/kypher/full.sqlite3.db

env: TS_STORE=/Users/pedroszekely/Downloads/kypher/test.sqlite3.db
env: TS_STORE=/Users/pedroszekely/Downloads/kypher/full.sqlite3.db

In [143]:
%env ALL=/Users/pedroszekely/Downloads/kypher/all.10.tsv
#%env ALL=/Volumes/GoogleDrive/Shared drives/KGTK/datasets/wikidata-20200803-v2/wikidata-20200803-all-edges.tsv.gz

env: ALL=/Users/pedroszekely/Downloads/kypher/all.10.tsv

In [42]:
!time kgtk --debug query -i $EDGES --limit 10 --graph-cache $STORE

[2020-09-15 13:20:23 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_1 graph_1_c1
     LIMIT ?
  PARAS: [10]
---------------------------------------------
id	node1	label	node2	rank
Q183-P2924-1	Q183	P2924	"2354371"	normal
Q183-P1333-1	Q183	P1333	@47.2700279/10.17844677	normal
Q183-P3221-1	Q183	P3221	"destination/germany"	normal
Q183-P227-1	Q183	P227	"4011882-4"	normal
Q183-P1792-1	Q183	P1792	Q3919754	normal
Q183-P2852-1	Q183	P2852	Q1061257	normal
Q183-P2852-2	Q183	P2852	Q25648823	normal
Q183-P2853-1	Q183	P2853	Q1123613	normal
Q183-P2853-2	Q183	P2853	Q1378312	normal
Q183-P395-1	Q183	P395	"D"	normal

real	0m0.743s
user	0m0.587s
sys	0m0.136s

In [44]:
!time kgtk --debug query -i $EDGES --graph-cache $STORE \
    --match 'edge: ()-[r]->()' \
    --return 'count(r) as count' \
    --limit 10

count
1155208003

real	6m4.858s
user	1m11.702s
sys	0m59.296s

In [45]:
!time kgtk --debug query -i $EDGES --graph-cache $STORE \
    --match 'e: ()-[r:P3345]->(x)' \
    --limit 10

[2020-09-15 13:28:21 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_1 graph_1_c1
     WHERE graph_1_c1."label"=?
     LIMIT ?
  PARAS: ['P3345', 10]
---------------------------------------------
id	node1	label	node2	rank
Q716-P3345-1	Q716	P3345	"1305547"	normal
Q181619-P3345-1	Q181619	P3345	"4885"	normal
Q191831-P3345-1	Q191831	P3345	"1362695"	normal
Q412845-P3345-1	Q412845	P3345	"155021"	normal
Q418767-P3345-1	Q418767	P3345	"314718"	normal
Q420035-P3345-1	Q420035	P3345	"9524"	normal
Q420454-P3345-1	Q420454	P3345	"8723"	normal
Q421465-P3345-1	Q421465	P3345	"1311072"	normal
Q423842-P3345-1	Q423842	P3345	"23247"	normal
Q424412-P3345-1	Q424412	P3345	"1373"	normal

real	0m1.055s
user	0m0.622s
sys	0m0.195s

In [53]:
!time kgtk --debug query -i $EDGES --graph-cache $STORE -o - \
    --match '(n)-[r:P3345]->(), (n)-[t]->(o) ' \
    --return 'n, t.label, o, t' \
    | gzip > $WIKIDATA_HOME/P3345.edges.tsv.gz

[2020-09-15 13:49:06 query]: SQL Translation:
---------------------------------------------
  SELECT graph_1_c2."node1", graph_1_c2."label", graph_1_c2."node2", graph_1_c2."id"
     FROM graph_1 graph_1_c1, graph_1 graph_1_c2
     WHERE graph_1_c1."label"=?
     AND graph_1_c1."node1"=graph_1_c2."node1"
  PARAS: ['P3345']
---------------------------------------------

real	0m5.154s
user	0m2.254s
sys	0m0.703s

In [54]:
%env STORE_LACIE=/Volumes/LaCie/kgtk/wikidata-20200803.sqlite3.db

env: STORE_LACIE=/Volumes/LaCie/kgtk/wikidata-20200803.sqlite3.db

In [55]:
!time kgtk --debug query -i $EDGES --graph-cache $STORE_LACIE -o - \
    --match '(n)-[r:P3345]->(), (n)-[t]->(o) ' \
    --return 'n, t.label, o, t' \
    | gzip > $WIKIDATA_HOME/P3345.edges.tsv.gz

[2020-09-15 15:22:43 query]: SQL Translation:
---------------------------------------------
  SELECT graph_1_c2."node1", graph_1_c2."label", graph_1_c2."node2", graph_1_c2."id"
     FROM graph_1 graph_1_c1, graph_1 graph_1_c2
     WHERE graph_1_c1."label"=?
     AND graph_1_c1."node1"=graph_1_c2."node1"
  PARAS: ['P3345']
---------------------------------------------

real	1m42.515s
user	0m4.361s
sys	0m2.667s

In [56]:
!time kgtk --debug query -i $EDGES --graph-cache $STORE_LACIE -o - \
    --match '(n)-[r:P1082]->(), (n)-[t]->(o) ' \
    --return 'n, t.label, o, t' \
    | gzip > $WIKIDATA_HOME/P1082.edges.tsv.gz

[2020-09-15 15:26:05 query]: SQL Translation:
---------------------------------------------
  SELECT graph_1_c1."node1", graph_1_c2."label", graph_1_c2."node2", graph_1_c2."id"
     FROM graph_1 graph_1_c1, graph_1 graph_1_c2
     WHERE graph_1_c1."label"=?
     AND graph_1_c1."node1"=graph_1_c2."node1"
  PARAS: ['P1082']
---------------------------------------------

real	57m31.529s
user	8m15.635s
sys	1m42.635s

In [57]:
!time kgtk --debug query -i $EDGES --graph-cache $STORE -o - \
    --match '(n)-[:P31]->(:Q11173), (n)-[t]->(o) ' \
    --return 'n, t.label, o, t' \
    | gzip > $WIKIDATA_HOME/Q11173.edges.tsv.gz

[2020-09-15 16:24:02 query]: SQL Translation:
---------------------------------------------
  SELECT graph_1_c1."node1", graph_1_c2."label", graph_1_c2."node2", graph_1_c2."id"
     FROM graph_1 graph_1_c1, graph_1 graph_1_c2
     WHERE graph_1_c1."label"=?
     AND graph_1_c1."node2"=?
     AND graph_1_c1."node1"=graph_1_c2."node1"
  PARAS: ['P31', 'Q11173']
---------------------------------------------

real	1m22.502s
user	0m47.686s
sys	0m10.724s

In [12]:
!time kgtk --debug query -i $EDGES --graph-cache $STORE -o - \
    --match '(i)-[:P31]->(c), (c)-[r:P279]->(sc) ' \
    --return 'c, r.label, sc, r' \
    | gzip > $WIKIDATA_HOME/P31.P279.tsv.gz

[2020-09-16 09:13:17 query]: SQL Translation:
---------------------------------------------
  SELECT graph_1_c1."node2", graph_1_c2."label", graph_1_c2."node2", graph_1_c2."id"
     FROM graph_1 graph_1_c1, graph_1 graph_1_c2
     WHERE graph_1_c1."label"=?
     AND graph_1_c2."label"=?
     AND graph_1_c1."node2"=graph_1_c2."node1"
  PARAS: ['P31', 'P279']
---------------------------------------------

real	156m18.125s
user	18m14.466s
sys	36m11.001s

In [14]:
!time kgtk --debug query -i $EDGES --graph-cache $STORE -o - \
    --match '(i)-[:P31]->(c), (c)-[r:P279]->(sc) ' \
    --return 'distinct c, r.label, sc, r' \
    | gzip > $WIKIDATA_HOME/P31.P279.unique.tsv.gz

[2020-09-16 12:36:07 query]: SQL Translation:
---------------------------------------------
  SELECT DISTINCT graph_1_c2."node1", graph_1_c2."label", graph_1_c2."node2", graph_1_c2."id"
     FROM graph_1 graph_1_c1, graph_1 graph_1_c2
     WHERE graph_1_c1."label"=?
     AND graph_1_c2."label"=?
     AND graph_1_c1."node2"=graph_1_c2."node1"
  PARAS: ['P31', 'P279']
---------------------------------------------

real	141m27.924s
user	9m7.937s
sys	33m58.074s

In [10]:
!time kgtk --debug query -i $EDGES --graph-cache $STORE -o - \
    --match '(c)-[r:P279]->(sc), (i)-[:P31]->(c)' \
    --return 'distinct c, r.label, sc, r' \
    | gzip > $WIKIDATA_HOME/P31.P279.unique.2.tsv.gz

[2020-09-16 16:02:30 query]: SQL Translation:
---------------------------------------------
  SELECT DISTINCT graph_1_c1."node1", graph_1_c1."label", graph_1_c1."node2", graph_1_c1."id"
     FROM graph_1 graph_1_c1, graph_1 graph_1_c2
     WHERE graph_1_c1."label"=?
     AND graph_1_c2."label"=?
     AND graph_1_c1."node1"=graph_1_c2."node2"
  PARAS: ['P279', 'P31']
---------------------------------------------

real	152m21.287s
user	9m42.442s
sys	34m50.383s

env: TS_STORE=/Users/pedroszekely/Downloads/kypher/full.sqlite3.db

In [142]:
!time kgtk --debug query -i "$ALL" --limit 10 --graph-cache $TS_STORE

[2020-09-18 23:18:37 sqlstore]: IMPORT graph directly into table graph_1 from /Volumes/GoogleDrive/Shared drives/KGTK/datasets/wikidata-20200803-v2/wikidata-20200803-all-edges.tsv.gz ...
Exception in thread background thread for pid 45014:
Traceback (most recent call last):
  File "/Users/pedroszekely/opt/anaconda3/envs/kgtk/lib/python3.7/threading.py", line 926, in _bootstrap_inner
    self.run()
  File "/Users/pedroszekely/opt/anaconda3/envs/kgtk/lib/python3.7/threading.py", line 870, in run
    self._target(*self._args, **self._kwargs)
  File "/Users/pedroszekely/opt/anaconda3/envs/kgtk/lib/python3.7/site-packages/sh-1.13.1-py3.7.egg/sh.py", line 1662, in wrap
    fn(*args, **kwargs)
  File "/Users/pedroszekely/opt/anaconda3/envs/kgtk/lib/python3.7/site-packages/sh-1.13.1-py3.7.egg/sh.py", line 2606, in background_thread
    handle_exit_code(exit_code)
  File "/Users/pedroszekely/opt/anaconda3/envs/kgtk/lib/python3.7/site-packages/sh-1.13.1-py3.7.egg/sh.py", line 2304, in fn
    return self.command.handle_command_exit_code(exit_code)
  File "/Users/pedroszekely/opt/anaconda3/envs/kgtk/lib/python3.7/site-packages/sh-1.13.1-py3.7.egg/sh.py", line 877, in handle_command_exit_code
    raise exc
sh.ErrorReturnCode_1:

  RAN: /usr/bin/zcat '/Volumes/GoogleDrive/Shared drives/KGTK/datasets/wikidata-20200803-v2/wikidata-20200803-all-edges.tsv.gz'

  STDOUT:


  STDERR:
zcat: can't stat: /Volumes/GoogleDrive/Shared drives/KGTK/datasets/wikidata-20200803-v2/wikidata-20200803-all-edges.tsv.gz (/Volumes/GoogleDrive/Shared drives/KGTK/datasets/wikidata-20200803-v2/wikidata-20200803-all-edges.tsv.gz.Z): No such file or directory


Traceback (most recent call last):
  File "/Users/pedroszekely/opt/anaconda3/envs/kgtk/lib/python3.7/site-packages/kgtk-0.4.0-py3.7.egg/kgtk/cli/query.py", line 129, in run
    parameters=parameters)
  File "/Users/pedroszekely/opt/anaconda3/envs/kgtk/lib/python3.7/site-packages/kgtk-0.4.0-py3.7.egg/kgtk/kypher/query.py", line 177, in __init__
    store.add_graph(file)
  File "/Users/pedroszekely/opt/anaconda3/envs/kgtk/lib/python3.7/site-packages/kgtk-0.4.0-py3.7.egg/kgtk/kypher/sqlstore.py", line 490, in add_graph
    self.import_graph_data_via_import(table, file)
  File "/Users/pedroszekely/opt/anaconda3/envs/kgtk/lib/python3.7/site-packages/kgtk-0.4.0-py3.7.egg/kgtk/kypher/sqlstore.py", line 577, in import_graph_data_via_import
    sqlproc.wait()
  File "/Users/pedroszekely/opt/anaconda3/envs/kgtk/lib/python3.7/site-packages/sh-1.13.1-py3.7.egg/sh.py", line 856, in wait
    self.process._stdin_process.command.wait()
  File "/Users/pedroszekely/opt/anaconda3/envs/kgtk/lib/python3.7/site-packages/sh-1.13.1-py3.7.egg/sh.py", line 856, in wait
    self.process._stdin_process.command.wait()
  File "/Users/pedroszekely/opt/anaconda3/envs/kgtk/lib/python3.7/site-packages/sh-1.13.1-py3.7.egg/sh.py", line 849, in wait
    self.handle_command_exit_code(exit_code)
  File "/Users/pedroszekely/opt/anaconda3/envs/kgtk/lib/python3.7/site-packages/sh-1.13.1-py3.7.egg/sh.py", line 877, in handle_command_exit_code
    raise exc
sh.ErrorReturnCode_1:

  RAN: /usr/bin/zcat '/Volumes/GoogleDrive/Shared drives/KGTK/datasets/wikidata-20200803-v2/wikidata-20200803-all-edges.tsv.gz'

  STDOUT:


  STDERR:
zcat: can't stat: /Volumes/GoogleDrive/Shared drives/KGTK/datasets/wikidata-20200803-v2/wikidata-20200803-all-edges.tsv.gz (/Volumes/GoogleDrive/Shared drives/KGTK/datasets/wikidata-20200803-v2/wikidata-20200803-all-edges.tsv.gz.Z): No such file or directory


During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/pedroszekely/opt/anaconda3/envs/kgtk/lib/python3.7/site-packages/kgtk-0.4.0-py3.7.egg/kgtk/exceptions.py", line 42, in __call__
    return_code = func(*args, **kwargs) or 0
  File "/Users/pedroszekely/opt/anaconda3/envs/kgtk/lib/python3.7/site-packages/kgtk-0.4.0-py3.7.egg/kgtk/cli/query.py", line 154, in run
    raise KGTKException(str(e) + '\n')
kgtk.exceptions.KGTKException:

  RAN: /usr/bin/zcat '/Volumes/GoogleDrive/Shared drives/KGTK/datasets/wikidata-20200803-v2/wikidata-20200803-all-edges.tsv.gz'

  STDOUT:


  STDERR:
zcat: can't stat: /Volumes/GoogleDrive/Shared drives/KGTK/datasets/wikidata-20200803-v2/wikidata-20200803-all-edges.tsv.gz (/Volumes/GoogleDrive/Shared drives/KGTK/datasets/wikidata-20200803-v2/wikidata-20200803-all-edges.tsv.gz.Z): No such file or directory




  RAN: /usr/bin/zcat '/Volumes/GoogleDrive/Shared drives/KGTK/datasets/wikidata-20200803-v2/wikidata-20200803-all-edges.tsv.gz'

  STDOUT:


  STDERR:
zcat: can't stat: /Volumes/GoogleDrive/Shared drives/KGTK/datasets/wikidata-20200803-v2/wikidata-20200803-all-edges.tsv.gz (/Volumes/GoogleDrive/Shared drives/KGTK/datasets/wikidata-20200803-v2/wikidata-20200803-all-edges.tsv.gz.Z): No such file or directory



real	0m1.145s
user	0m0.597s
sys	0m0.241s

In [49]:
!time kgtk --debug query -i $ALL --graph-cache $TS_STORE -o - \
    --match '(i)-[:P31]->(c)' \
    --limit 10

[2020-09-18 21:47:24 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_1 graph_1_c1
     WHERE graph_1_c1."label"=?
     LIMIT ?
  PARAS: ['P31', 10]
---------------------------------------------
[2020-09-18 21:47:24 sqlstore]: CREATE INDEX on table graph_1 column label ...
[2020-09-18 21:47:30 sqlstore]: ANALYZE INDEX on table graph_1 column label ...
id	node1	label	node2	rank	node2;magnitude	node2;unit	node2;date	node2;item	node2;lower	node2;upper	node2;latitude	node2;longitude	node2;precision	node2;calendar	node2;entity-type	node2;wikidatatype
Q45-P31-1	Q45	P31	Q3624078	normal				Q3624078							item	wikibase-item
Q45-P31-2	Q45	P31	Q6256	normal				Q6256							item	wikibase-item
Q45-P31-3	Q45	P31	Q20181813	normal				Q20181813							item	wikibase-item
Q140-P31-1	Q140	P31	Q16521	normal				Q16521							item	wikibase-item
Q183-P31-1	Q183	P31	Q3624078	preferred				Q3624078							item	wikibase-item
Q183-P31-2	Q183	P31	Q43702	preferred				Q43702							item	wikibase-item
Q183-P31-3	Q183	P31	Q7270	normal				Q7270							item	wikibase-item
Q183-P31-4	Q183	P31	Q619610	normal				Q619610							item	wikibase-item
Q183-P31-5	Q183	P31	Q4209223	normal				Q4209223							item	wikibase-item
Q183-P31-6	Q183	P31	Q63791824	preferred				Q63791824							item	wikibase-item

real	0m7.679s
user	0m6.238s
sys	0m1.200s

In [94]:
!time kgtk --debug query -i $ALL --graph-cache $TS_STORE -o all.wikibase-item.tsv \
    --match '(n1)-[l]->(n2 {wikidatatype: type})' \
    --where 'type = "wikibase-item"'

[2020-09-18 22:24:05 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_1 graph_1_c1
     WHERE graph_1_c1."node2;wikidatatype"=graph_1_c1."node2;wikidatatype"
     AND (graph_1_c1."node2;wikidatatype" = ?)
  PARAS: ['wikibase-item']
---------------------------------------------

real	0m7.306s
user	0m6.404s
sys	0m0.585s

In [95]:
items = pd.read_csv(os.getenv("K")+"/all.wikibase-item.tsv", delimiter='\t')

In [99]:
items_profile = ProfileReport(items, title='wikibase-item', explorative = True)

In [97]:
items_profile.to_file("wikibase-item.html")b

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=31.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='Render HTML', max=1.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Export report to file', max=1.0, style=ProgressStyle(desc…

In [98]:
!time kgtk --debug query -i $ALL --graph-cache $TS_STORE -o all.quantity.tsv \
    --match '(n1)-[l]->(n2 {wikidatatype: type})' \
    --where 'type = "quantity"'

[2020-09-18 22:26:26 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_1 graph_1_c1
     WHERE graph_1_c1."node2;wikidatatype"=graph_1_c1."node2;wikidatatype"
     AND (graph_1_c1."node2;wikidatatype" = ?)
  PARAS: ['quantity']
---------------------------------------------

real	0m2.995s
user	0m2.323s
sys	0m0.468s

In [100]:
quantities = pd.read_csv(os.getenv("K")+"/all.quantity.tsv", delimiter='\t')

In [103]:
quantities

,id,node1,label,node2,rank,node2;magnitude,node2;unit,node2;date,node2;item,node2;lower,node2;upper,node2;latitude,node2;longitude,node2;precision,node2;calendar,node2;entity-type,node2;wikidatatype
0,Q45-P1082-1,Q45,P1082,+8857716,normal,8857716.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,quantity
1,Q45-P1082-2,Q45,P1082,+8929316,normal,8929316.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,quantity
2,Q45-P1082-3,Q45,P1082,+8993985,normal,8993985.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,quantity
3,Q45-P1082-4,Q45,P1082,+9030355,normal,9030355.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,quantity
4,Q45-P1082-5,Q45,P1082,+9035365,normal,9035365.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,quantity
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69818,Q11789827-P2044-1,Q11789827,P2044,+1225Q11573,normal,1225.0,Q11573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,quantity
69819,Q11789827-P1082-1,Q11789827,P1082,+6,normal,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,quantity
69820,Q11792441-P2044-1,Q11792441,P2044,"+170[+169,+171]Q11573",normal,170.0,Q11573,NaN,NaN,169.0,171.0,NaN,NaN,NaN,NaN,NaN,quantity
69821,Q11792510-P4511-1,Q11792510,P4511,+0.5Q11573,normal,0.5,Q11573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,quantity
69822,Q11792510-P2044-1,Q11792510,P2044,+1837Q11573,normal,1837.0,Q11573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,quantity

In [104]:
quantities['label'].value_counts()

P1082    16720
P1087     9696
P2044     5225
P2046     5198
P1215     2179
         ...
P2231        1
P1436        1
P5630        1
P7462        1
P2118        1
Name: label, Length: 301, dtype: int64

In [101]:
quantities_profile = ProfileReport(quantities, title='wikibase-item', explorative = True)

In [106]:
all = pd.read_csv(os.getenv("K")+"/all.10.tsv", delimiter='\t')

/Users/pedroszekely/opt/anaconda3/envs/kgtk/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (4,6,7,8,14,15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [107]:
all['node2;wikidatatype'].value_counts()

wikibase-item        729535
external-id          416408
time                  76936
quantity              69823
string                68283
commonsMedia          36794
globe-coordinate      26063
monolingualtext       24131
url                   12874
geo-shape               183
wikibase-property       148
math                     70
wikibase-form             7
musical-notation          2
Name: node2;wikidatatype, dtype: int64

In [75]:
!time kgtk --debug query -i $ALL --graph-cache $TS_STORE -o all.external-id.tsv \
    --match '(n1)-[l]->(n2 {wikidatatype: type})' \
    --where 'type = "external-id"'

[2020-09-18 22:03:00 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_1 graph_1_c1
     WHERE graph_1_c1."node2;wikidatatype"=graph_1_c1."node2;wikidatatype"
     AND (graph_1_c1."node2;wikidatatype" = ?)
  PARAS: ['external-id']
---------------------------------------------

real	0m5.317s
user	0m4.549s
sys	0m0.542s

In [76]:
!time kgtk --debug query -i $ALL --graph-cache $TS_STORE -o all.label.tsv \
    --match '(n1)-[l:label]->(n2)'

[2020-09-18 22:04:27 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_1 graph_1_c1
     WHERE graph_1_c1."label"=?
  PARAS: ['label']
---------------------------------------------

real	0m13.692s
user	0m12.579s
sys	0m0.729s

In [151]:
!time kgtk --debug query -i $K/all.label.tsv --graph-cache $TS_STORE \
    --match '(n1)-[l]->(n2)' \
    --return 'n2.kgtk_lqstring_lang as language, count(n2.kgtk_lqstring_lang) as count' \
    --order-by 'count(n2.kgtk_lqstring_lang) desc' \
    > $K/label.count.tsv

[2020-09-19 08:31:56 query]: SQL Translation:
---------------------------------------------
  SELECT kgtk_lqstring_lang(graph_4_c1."node2") "language", count(kgtk_lqstring_lang(graph_4_c1."node2")) "count"
     FROM graph_4 graph_4_c1
     GROUP BY language
     ORDER BY count(kgtk_lqstring_lang(graph_4_c1."node2")) DESC
  PARAS: []
---------------------------------------------

real	0m6.623s
user	0m5.955s
sys	0m0.369s

In [108]:
!kgtk explode  -i $K/all.label.tsv > $K/all.label.x.tsv

In [115]:
!time kgtk --debug query -i $K/all.label.tsv --graph-cache $TS_STORE -o $K/all.label.en.tsv  \
    --match '(n1)-[l]->(n2)' \
    --where 'n2.kgtk_lqstring_lang = "en"'

[2020-09-18 22:50:01 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_3 graph_3_c1
     WHERE (kgtk_lqstring_lang(graph_3_c1."node2") = ?)
  PARAS: ['en']
---------------------------------------------

real	0m4.151s
user	0m3.723s
sys	0m0.255s

In [77]:
!time kgtk --debug query -i $ALL --graph-cache $TS_STORE -o all.alias.tsv \
    --match '(n1)-[l:alias]->(n2)'

[2020-09-18 22:05:35 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_1 graph_1_c1
     WHERE graph_1_c1."label"=?
  PARAS: ['alias']
---------------------------------------------

real	0m2.568s
user	0m2.116s
sys	0m0.281s

In [78]:
!time kgtk --debug query -i $ALL --graph-cache $TS_STORE -o all.description.tsv \
    --match '(n1)-[l:description]->(n2)'

[2020-09-18 22:05:51 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_1 graph_1_c1
     WHERE graph_1_c1."label"=?
  PARAS: ['description']
---------------------------------------------

real	0m41.699s
user	0m39.319s
sys	0m1.669s

In [84]:
!time kgtk --debug query -i $ALL --graph-cache $TS_STORE -o all.type.tsv \
    --match '(n1)-[l:type]->(n2)'

[2020-09-18 22:10:53 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_1 graph_1_c1
     WHERE graph_1_c1."label"=?
  PARAS: ['type']
---------------------------------------------

real	0m2.290s
user	0m1.702s
sys	0m0.363s

In [86]:
!time kgtk --debug query -i $ALL --graph-cache $TS_STORE \
    --match '(n1)-[l:type]->(n2)' \
    --return 'distinct l.label, n2'

[2020-09-18 22:11:35 query]: SQL Translation:
---------------------------------------------
  SELECT DISTINCT graph_1_c1."label", graph_1_c1."node2"
     FROM graph_1 graph_1_c1
     WHERE graph_1_c1."label"=?
  PARAS: ['type']
---------------------------------------------
label	node2
type	item
type	property

real	0m1.091s
user	0m0.768s
sys	0m0.297s

commonsMedia	count	36794
external-id	count	416408
geo-shape	count	183
globe-coordinate	count	26063
math	count	70
monolingualtext	count	24131
musical-notation	count	2
quantity	count	69823
string	count	68283
time	count	76936
url	count	12874
wikibase-form	count	7
wikibase-item	count	729535
wikibase-property	count	148

In [117]:
!time kgtk --debug query -i $ALL --graph-cache $TS_STORE -o all.type.tsv --match '(n1)-[l:type]->(n2)' 

!time kgtk --debug query -i $ALL --graph-cache $TS_STORE -o all.commonsMedia.tsv \
    --match '(n1)-[l]->(n2 {wikidatatype: type})' \
    --where 'type = "commonsMedia"' 

!time kgtk --debug query -i $ALL --graph-cache $TS_STORE -o all.external-id.tsv \
    --match '(n1)-[l]->(n2 {wikidatatype: type})' \
    --where 'type = "external-id"' 

!time kgtk --debug query -i $ALL --graph-cache $TS_STORE -o all.geo-shape.tsv \
    --match '(n1)-[l]->(n2 {wikidatatype: type})' \
    --where 'type = "geo-shape"' 

!time kgtk --debug query -i $ALL --graph-cache $TS_STORE -o all.globe-coordinate.tsv \
    --match '(n1)-[l]->(n2 {wikidatatype: type})' \
    --where 'type = "globe-coordinate"' 

!time kgtk --debug query -i $ALL --graph-cache $TS_STORE -o all.math.tsv \
    --match '(n1)-[l]->(n2 {wikidatatype: type})' \
    --where 'type = "math"' 

!time kgtk --debug query -i $ALL --graph-cache $TS_STORE -o all.monolingualtext.tsv \
    --match '(n1)-[l]->(n2 {wikidatatype: type})' \
    --where 'type = "monolingualtext"' 

!time kgtk --debug query -i $ALL --graph-cache $TS_STORE -o all.musical-notation.tsv \
    --match '(n1)-[l]->(n2 {wikidatatype: type})' \
    --where 'type = "musical-notation"' 

!time kgtk --debug query -i $ALL --graph-cache $TS_STORE -o all.quantity.tsv \
    --match '(n1)-[l]->(n2 {wikidatatype: type})' \
    --where 'type = "quantity"' 

!time kgtk --debug query -i $ALL --graph-cache $TS_STORE -o all.string.tsv \
    --match '(n1)-[l]->(n2 {wikidatatype: type})' \
    --where 'type = "string"' 

!time kgtk --debug query -i $ALL --graph-cache $TS_STORE -o all.time.tsv \
    --match '(n1)-[l]->(n2 {wikidatatype: type})' \
    --where 'type = "time"' 

!time kgtk --debug query -i $ALL --graph-cache $TS_STORE -o all.url.tsv \
    --match '(n1)-[l]->(n2 {wikidatatype: type})' \
    --where 'type = "url"' 

!time kgtk --debug query -i $ALL --graph-cache $TS_STORE -o all.wikibase-form.tsv \
    --match '(n1)-[l]->(n2 {wikidatatype: type})' \
    --where 'type = "wikibase-form"' 

!time kgtk --debug query -i $ALL --graph-cache $TS_STORE -o all.wikibase-item.tsv \
    --match '(n1)-[l]->(n2 {wikidatatype: type})' \
    --where 'type = "wikibase-item"' 

!time kgtk --debug query -i $ALL --graph-cache $TS_STORE -o all.wikibase-property.tsv \
    --match '(n1)-[l]->(n2 {wikidatatype: type})' \
    --where 'type = "wikibase-property"'

[2020-09-18 23:01:05 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_1 graph_1_c1
     WHERE graph_1_c1."label"=?
  PARAS: ['type']
---------------------------------------------

real	0m1.872s
user	0m1.473s
sys	0m0.289s
[2020-09-18 23:01:07 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_1 graph_1_c1
     WHERE graph_1_c1."node2;wikidatatype"=graph_1_c1."node2;wikidatatype"
     AND (graph_1_c1."node2;wikidatatype" = ?)
  PARAS: ['commonsMedia']
---------------------------------------------

real	0m2.294s
user	0m1.932s
sys	0m0.354s
[2020-09-18 23:01:10 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_1 graph_1_c1
     WHERE graph_1_c1."node2;wikidatatype"=graph_1_c1."node2;wikidatatype"
     AND (graph_1_c1."node2;wikidatatype" = ?)
  PARAS: ['external-id']
---------------------------------------------

real	0m4.517s
user	0m4.101s
sys	0m0.394s
[2020-09-18 23:01:15 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_1 graph_1_c1
     WHERE graph_1_c1."node2;wikidatatype"=graph_1_c1."node2;wikidatatype"
     AND (graph_1_c1."node2;wikidatatype" = ?)
  PARAS: ['geo-shape']
---------------------------------------------

real	0m2.035s
user	0m1.686s
sys	0m0.341s
[2020-09-18 23:01:17 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_1 graph_1_c1
     WHERE graph_1_c1."node2;wikidatatype"=graph_1_c1."node2;wikidatatype"
     AND (graph_1_c1."node2;wikidatatype" = ?)
  PARAS: ['globe-coordinate']
---------------------------------------------

real	0m2.207s
user	0m1.850s
sys	0m0.344s
[2020-09-18 23:01:20 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_1 graph_1_c1
     WHERE graph_1_c1."node2;wikidatatype"=graph_1_c1."node2;wikidatatype"
     AND (graph_1_c1."node2;wikidatatype" = ?)
  PARAS: ['math']
---------------------------------------------

real	0m2.012s
user	0m1.668s
sys	0m0.337s
[2020-09-18 23:01:22 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_1 graph_1_c1
     WHERE graph_1_c1."node2;wikidatatype"=graph_1_c1."node2;wikidatatype"
     AND (graph_1_c1."node2;wikidatatype" = ?)
  PARAS: ['monolingualtext']
---------------------------------------------

real	0m2.208s
user	0m1.851s
sys	0m0.348s
[2020-09-18 23:01:25 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_1 graph_1_c1
     WHERE graph_1_c1."node2;wikidatatype"=graph_1_c1."node2;wikidatatype"
     AND (graph_1_c1."node2;wikidatatype" = ?)
  PARAS: ['musical-notation']
---------------------------------------------

real	0m2.107s
user	0m1.728s
sys	0m0.363s
[2020-09-18 23:01:27 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_1 graph_1_c1
     WHERE graph_1_c1."node2;wikidatatype"=graph_1_c1."node2;wikidatatype"
     AND (graph_1_c1."node2;wikidatatype" = ?)
  PARAS: ['quantity']
---------------------------------------------

real	0m2.741s
user	0m2.269s
sys	0m0.420s
[2020-09-18 23:01:30 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_1 graph_1_c1
     WHERE graph_1_c1."node2;wikidatatype"=graph_1_c1."node2;wikidatatype"
     AND (graph_1_c1."node2;wikidatatype" = ?)
  PARAS: ['string']
---------------------------------------------

real	0m2.856s
user	0m2.289s
sys	0m0.436s
[2020-09-18 23:01:34 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_1 graph_1_c1
     WHERE graph_1_c1."node2;wikidatatype"=graph_1_c1."node2;wikidatatype"
     AND (graph_1_c1."node2;wikidatatype" = ?)
  PARAS: ['time']
---------------------------------------------

real	0m2.739s
user	0m2.300s
sys	0m0.403s
[2020-09-18 23:01:37 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_1 graph_1_c1
     WHERE graph_1_c1."node2;wikidatatype"=graph_1_c1."node2;wikidatatype"
     AND (graph_1_c1."node2;wikidatatype" = ?)
  PARAS: ['url']
---------------------------------------------

real	0m2.179s
user	0m1.803s
sys	0m0.365s
[2020-09-18 23:01:39 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_1 graph_1_c1
     WHERE graph_1_c1."node2;wikidatatype"=graph_1_c1."node2;wikidatatype"
     AND (graph_1_c1."node2;wikidatatype" = ?)
  PARAS: ['wikibase-form']
---------------------------------------------

real	0m2.029s
user	0m1.655s
sys	0m0.350s
[2020-09-18 23:01:42 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_1 graph_1_c1
     WHERE graph_1_c1."node2;wikidatatype"=graph_1_c1."node2;wikidatatype"
     AND (graph_1_c1."node2;wikidatatype" = ?)
  PARAS: ['wikibase-item']
---------------------------------------------

real	0m6.723s
user	0m6.151s
sys	0m0.469s
[2020-09-18 23:01:49 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_1 graph_1_c1
     WHERE graph_1_c1."node2;wikidatatype"=graph_1_c1."node2;wikidatatype"
     AND (graph_1_c1."node2;wikidatatype" = ?)
  PARAS: ['wikibase-property']
---------------------------------------------

real	0m2.245s
user	0m1.747s
sys	0m0.388s

In [119]:
!time kgtk --debug query -i $ALL --graph-cache $TS_STORE -o - \
    --match '(n1)-[l]->(n2 {wikidatatype: type})' \
    --where 'type = "wikibase-property"' \
    | gzip > $K/all.wikibase-property.tsv.gz

[2020-09-18 23:05:03 query]: SQL Translation:
---------------------------------------------
  SELECT *
     FROM graph_1 graph_1_c1
     WHERE graph_1_c1."node2;wikidatatype"=graph_1_c1."node2;wikidatatype"
     AND (graph_1_c1."node2;wikidatatype" = ?)
  PARAS: ['wikibase-property']
---------------------------------------------

real	0m2.295s
user	0m1.812s
sys	0m0.399s

In [123]:
!time kgtk --debug --compression-type gzip query -i $ALL --graph-cache $TS_STORE -o all.wikibase-property.tsv  \
    --match '(n1)-[l]->(n2 {wikidatatype: type})' \
    --where 'type = "wikibase-property"'

usage: kgtk [options] command [ / command]*
kgtk: error: argument command: invalid choice: 'gzip' (choose from 'add-id', 'calc', 'cat', 'clean-data', 'compact', 'connected-components', 'expand', 'explode', 'denormalize_node2', 'export-gt', 'export-neo4j', 'export-wikidata', 'filter', 'generate-mediawiki-jsons', 'generate-wikidata-triples', 'graph-statistics', 'ifempty', 'ifexists', 'ifnotempty', 'ifnotexists', 'implode', 'import-atomic', 'import-concept-pairs', 'import-conceptnet', 'import-framenet', 'import-ntriples', 'import-visualgenome', 'import-wikidata', 'import-wordnet', 'join', 'lift', 'lower', 'md', 'merge-identical-nodes', 'normalize-nodes', 'paths', 'query', 'reachable-nodes', 'remove-columns', 'rename-columns', 'reorder-columns', 'sort', 'sort2', 'text-embedding', 'unique', 'unreify-rdf-statements', 'unreify-values', 'validate-properties', 'validate', 'zconcat')

real	0m0.793s
user	0m0.556s
sys	0m0.141s