# Retrieve and view profiles for entities
**TODO:** Update how we save results in notebook 6 so there is less redundant code, make profile lookup more efficient, provide python function to lookup profiles for a list of entities simultaneously

### Pre-requisite steps to run this notebook
1. Run the select_final_label_set notebook

In [1]:
import os
import pandas as pd
import numpy as np
import json
from utility import run_command

### Parameters
**REQUIRED**  
**work_dir**: path to work dir that was specified in the select_final_label_set notebook.  
**store_dir**: path to folder containing the sqlite3.db file that we will use for our queries. We will reuse an existing file if there is one in this folder. Otherwise we will create a new one.  
**entity_type**: type of entity you want to look up profiles for. This is just used to navigate to the correct folder that has the profiles.

In [2]:
# **REQUIRED**
work_dir = "../../wikidata_films/profiler_work"
store_dir = "../../wikidata_films"
entity_type = "Q11424" # Film

### Process parameters and set up variables / file names

In [4]:
# Ensure paths are absolute
work_dir = os.path.abspath(work_dir)
store_dir = os.path.abspath(store_dir)

label_set_dir = "{}/final_label_sets/{}".format(work_dir, entity_type)
work_profiles_dir = "{}/work".format(label_set_dir)
final_profiles_dir = "{}/final".format(label_set_dir)
    
# Environment variables
os.environ['STORE'] = "{}/wikidata.sqlite3.db".format(store_dir)
os.environ['kgtk'] = "kgtk" # Need to do this for kgtk to be recognized as a command when passing it through a subprocess call

### Load information that was computed in select_final_label_set notebook

In [5]:
%%time
# load labels into single dataframe
labels_df = pd.read_csv("{}/labels_and_their_entities.tsv".format(final_profiles_dir), delimiter = '\t').fillna("")

# dictionary of label_id --> set of matching entities
# using groupby is not the most efficient, but more concise
label_to_entities = labels_df.groupby("node1")["node2"].apply(set).to_dict()
print("total number of candidate labels for profiling entities of type {}: {}".format(entity_type, len(label_to_entities)))

# final label set (ordered list)
with open("{}/ordered_final_label_set.json".format(final_profiles_dir), 'r') as f:
    label_set = json.load(f)
print("Final label set has {} labels".format(len(label_set)))
# TODO: also add info about how many entities are covered out of total num entities of this type.

# look up number of entities of the type we are profiling
all_ents_in_type = set(pd.read_csv("{}/entities_in_type.tsv".format(work_profiles_dir), delimiter = '\t').entity)
print("Loaded set of all entities of the type we are profiling ({} total)".format(len(all_ents_in_type)))

# Load dictionary of label distinctivenesses incase we want this for analysis
with open("{}/label_distinctiveness_dict.json".format(final_profiles_dir), "r") as f:
    label_distinctiveness = json.load(f)

<decorator-gen-54>:2: DtypeWarning: Columns (11,14,15) have mixed types.Specify dtype option on import or set low_memory=False.

total number of candidate labels for profiling entities of type Q11424: 273
Final label set has 273 labels
Loaded set of all entities of the type we are profiling (176405 total)
CPU times: user 53.3 s, sys: 14.4 s, total: 1min 7s
Wall time: 1min 7s

## View profiles

In [6]:
# NOTE - we can make max_labels_in_profile a notebook param
def print_profile_for_entity(entity, max_labels_in_profile = 5):
    print("Generating profile for entity: {}...".format(entity))

    # We can improve performance using a loop and stopping when we find however many labels we desire.
    # doing it this way here so we can see how many labels total are applicable to the entity
    matching_label_ids_ordered = [l for l in label_set if entity in label_to_entities[l]]

    print("There are {} labels in the final label set that match this entity.".format(len(matching_label_ids_ordered)))
    print("Choosing the top {}:".format(max_labels_in_profile))

    cols_to_display = ["type", "type_label", "prop", "prop_label", "value", "value_label", "value_lb", "value_ub", "prop2", "prop2_label", "value2", "value2_lb", "value2_ub", "si_units", "wd_units"]
    for label_id in matching_label_ids_ordered[:max_labels_in_profile]:
#         print("\nLabel ID: {}".format(label_id))
        display(labels_df.loc[labels_df["node1"]==label_id,cols_to_display].fillna("").iloc[[0]])
#         print("positives for this label: {}".format(", ".join(label_to_entities[label_id])))
        print("Number of positive entities for this label: {} (out of {} entities of this type)".format(len(label_to_entities[label_id]), len(all_ents_in_type)))

Update entities you want to view profiles for below

Casablanca (Q132689):

In [7]:
print_profile_for_entity("Q132689",5)

Generating profile for entity: Q132689...
There are 129 labels in the final label set that match this entity.
Choosing the top 5:

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
5431379,Q11424,'film'@en,P495,'country of origin'@en,Q3624078,'sovereign state'@en,,,P571,'inception'@en,,1675.5,,,

Number of positive entities for this label: 156578 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
198145,Q11424,'film'@en,P462,'color'@en,Q838368,'black-and-white'@en,,,,,,,,,

Number of positive entities for this label: 40690 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
12326831,Q11424,'film'@en,P495,'country of origin'@en,Q99541706,'historical unrecognized state'@en,,,P2884,'mains voltage'@en,,,,,Q25250

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
499695,Q11424,'film'@en,P495,'country of origin'@en,Q1489259,'superpower'@en,,,P1198,'unemployment rate'@en,,,,,Q11229

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
8048996,Q11424,'film'@en,P495,'country of origin'@en,Q5255892,'democratic republic'@en,,,P7295,'Gregorian calendar start date'@en,,1667.0,,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

Spirited away (Q155653):  
This one can't be profiled because we only used P31 to define entities' types, and spirited away is an anime film which is a subclass of film. Need to use P279* to profile this one.

In [22]:
"Q155653" in all_ents_in_type

False

Pan's Labrynth (Q216006):

In [24]:
print_profile_for_entity("Q216006",5)

Generating profile for entity: Q216006...
There are 53 labels in the final label set that match this entity.
Choosing the top 5:

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
5114405,Q11424,'film'@en,P495,'country of origin'@en,Q3624078,'sovereign state'@en,,,P571,'inception'@en,,1675.5,,,

Number of positive entities for this label: 156578 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
6833004,Q11424,'film'@en,P495,'country of origin'@en,Q51576574,'Mediterranean country'@en,,,P7295,'Gregorian calendar start date'@en,,,1694.0,,

Number of positive entities for this label: 20486 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
6763369,Q11424,'film'@en,P495,'country of origin'@en,Q51576574,'Mediterranean country'@en,,,P3271,'compulsory education (maximum age)'@en,,15.5,17.0,,Q24564698

Number of positive entities for this label: 20916 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
6673827,Q11424,'film'@en,P495,'country of origin'@en,Q51576574,'Mediterranean country'@en,,,P2573,'number of out-of-school children'@en,,,817705.5,,

Number of positive entities for this label: 20909 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
6609439,Q11424,'film'@en,P495,'country of origin'@en,Q51576574,'Mediterranean country'@en,,,P2131,'nominal GDP'@en,,6.009765e+11,,,Q4917

Number of positive entities for this label: 21768 (out of 176405 entities of this type)

Pulp Fiction (Q104123):

In [18]:
print_profile_for_entity("Q104123",129)

Generating profile for entity: Q104123...
There are 129 labels in the final label set that match this entity.
Choosing the top 129:

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
5114405,Q11424,'film'@en,P495,'country of origin'@en,Q3624078,'sovereign state'@en,,,P571,'inception'@en,,1675.5,,,

Number of positive entities for this label: 156578 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
12009857,Q11424,'film'@en,P495,'country of origin'@en,Q99541706,'historical unrecognized state'@en,,,P2884,'mains voltage'@en,,,,,Q25250

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
182721,Q11424,'film'@en,P495,'country of origin'@en,Q1489259,'superpower'@en,,,P1198,'unemployment rate'@en,,,,,Q11229

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
7732022,Q11424,'film'@en,P495,'country of origin'@en,Q5255892,'democratic republic'@en,,,P7295,'Gregorian calendar start date'@en,,1667.0,,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
1732323,Q11424,'film'@en,P495,'country of origin'@en,Q1520223,'constitutional republic'@en,,,P4010,'GDP (PPP)'@en,,1.136751e+13,2.141781e+13,,Q550207

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
12064606,Q11424,'film'@en,P495,'country of origin'@en,Q99541706,'historical unrecognized state'@en,,,P3001,'retirement age'@en,,,,,Q24564698

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
6512397,Q11424,'film'@en,P495,'country of origin'@en,Q43702,'federation'@en,,,P7295,'Gregorian calendar start date'@en,,1667.0,,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
12228853,Q11424,'film'@en,P495,'country of origin'@en,Q99541706,'historical unrecognized state'@en,,,P4010,'GDP (PPP)'@en,,,,,Q550207

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
11736111,Q11424,'film'@en,P495,'country of origin'@en,Q99541706,'historical unrecognized state'@en,,,P2046,'area'@en,,,,,Q712226

Number of positive entities for this label: 54750 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
401717,Q11424,'film'@en,P495,'country of origin'@en,Q1489259,'superpower'@en,,,P2219,'real gross domestic product growth rate'@en,,,,,Q11229

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
1340357,Q11424,'film'@en,P495,'country of origin'@en,Q1520223,'constitutional republic'@en,,,P2132,'nominal GDP per capita'@en,,44834.5,,,Q4917

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
5701019,Q11424,'film'@en,P495,'country of origin'@en,Q43702,'federation'@en,,,P2046,'area'@en,,8759349.5,,,Q712226

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
11900359,Q11424,'film'@en,P495,'country of origin'@en,Q99541706,'historical unrecognized state'@en,,,P2219,'real gross domestic product growth rate'@en,,,,,Q11229

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
7183440,Q11424,'film'@en,P495,'country of origin'@en,Q5255892,'democratic republic'@en,,,P2299,'PPP GDP per capita'@en,,,,,Q550207

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
11955108,Q11424,'film'@en,P495,'country of origin'@en,Q99541706,'historical unrecognized state'@en,,,P2299,'PPP GDP per capita'@en,,,,,Q550207

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
11790861,Q11424,'film'@en,P495,'country of origin'@en,Q99541706,'historical unrecognized state'@en,,,P2131,'nominal GDP'@en,,,,,Q4917

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
6402899,Q11424,'film'@en,P495,'country of origin'@en,Q43702,'federation'@en,,,P6897,'literacy rate'@en,,99.2,,,Q11229

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
5985976,Q11424,'film'@en,P495,'country of origin'@en,Q43702,'federation'@en,,,P2884,'mains voltage'@en,,,175.0,,Q25250

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
237470,Q11424,'film'@en,P495,'country of origin'@en,Q1489259,'superpower'@en,,,P2046,'area'@en,,,,,Q712226

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
11571864,Q11424,'film'@en,P495,'country of origin'@en,Q99541706,'historical unrecognized state'@en,,,P1081,'Human Development Index'@en,,,,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
12283602,Q11424,'film'@en,P495,'country of origin'@en,Q99541706,'historical unrecognized state'@en,,,P5167,'vehicles per thousand people'@en,,,,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
12502598,Q11424,'film'@en,P495,'country of origin'@en,Q99541706,'historical unrecognized state'@en,,,P7295,'Gregorian calendar start date'@en,,1667.0,,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
949207,Q11424,'film'@en,P495,'country of origin'@en,Q1489259,'superpower'@en,,,P7295,'Gregorian calendar start date'@en,,,1667.0,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
12174104,Q11424,'film'@en,P495,'country of origin'@en,Q99541706,'historical unrecognized state'@en,,,P3864,'suicide rate'@en,,,,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
11845610,Q11424,'film'@en,P495,'country of origin'@en,Q99541706,'historical unrecognized state'@en,,,P2132,'nominal GDP per capita'@en,,,,,Q4917

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
238835,Q11424,'film'@en,P495,'country of origin'@en,Q30,'United States of America'@en,,,,,,,,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
620713,Q11424,'film'@en,P495,'country of origin'@en,Q1489259,'superpower'@en,,,P3529,'median income'@en,,,,,Q4917

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
6457648,Q11424,'film'@en,P495,'country of origin'@en,Q43702,'federation'@en,,,P7295,'Gregorian calendar start date'@en,,,1667.0,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
73223,Q11424,'film'@en,P495,'country of origin'@en,Q1489259,'superpower'@en,,,P1081,'Human Development Index'@en,,,,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
675462,Q11424,'film'@en,P495,'country of origin'@en,Q1489259,'superpower'@en,,,P3864,'suicide rate'@en,,,,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
7293302,Q11424,'film'@en,P495,'country of origin'@en,Q5255892,'democratic republic'@en,,,P3001,'retirement age'@en,,,,,Q24564698

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
5931227,Q11424,'film'@en,P495,'country of origin'@en,Q43702,'federation'@en,,,P2299,'PPP GDP per capita'@en,,56241.9315,63117.657,,Q550207

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
12447849,Q11424,'film'@en,P495,'country of origin'@en,Q99541706,'historical unrecognized state'@en,,,P7295,'Gregorian calendar start date'@en,,,1667.0,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
346968,Q11424,'film'@en,P495,'country of origin'@en,Q1489259,'superpower'@en,,,P2132,'nominal GDP per capita'@en,,,,,Q4917

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
1843438,Q11424,'film'@en,P495,'country of origin'@en,Q1520223,'constitutional republic'@en,,,P571,'inception'@en,,,1860.5,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
1898187,Q11424,'film'@en,P495,'country of origin'@en,Q1520223,'constitutional republic'@en,,,P6897,'literacy rate'@en,,98.7,,,Q11229

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
7457913,Q11424,'film'@en,P495,'country of origin'@en,Q5255892,'democratic republic'@en,,,P4010,'GDP (PPP)'@en,,,,,Q550207

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
10076932,Q11424,'film'@en,P495,'country of origin'@en,Q6256,'country'@en,,,P5167,'vehicles per thousand people'@en,,720.0,,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
7512662,Q11424,'film'@en,P495,'country of origin'@en,Q5255892,'democratic republic'@en,,,P5167,'vehicles per thousand people'@en,,,,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
784960,Q11424,'film'@en,P495,'country of origin'@en,Q1489259,'superpower'@en,,,P5167,'vehicles per thousand people'@en,,,,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
1677574,Q11424,'film'@en,P495,'country of origin'@en,Q1520223,'constitutional republic'@en,,,P3864,'suicide rate'@en,,,,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
2007685,Q11424,'film'@en,P495,'country of origin'@en,Q1520223,'constitutional republic'@en,,,P7295,'Gregorian calendar start date'@en,,1667.0,,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
1285608,Q11424,'film'@en,P495,'country of origin'@en,Q1520223,'constitutional republic'@en,,,P2131,'nominal GDP'@en,,1.581415e+13,,,Q4917

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
11626613,Q11424,'film'@en,P495,'country of origin'@en,Q99541706,'historical unrecognized state'@en,,,P1125,'Gini coefficient'@en,,,,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
1952936,Q11424,'film'@en,P495,'country of origin'@en,Q1520223,'constitutional republic'@en,,,P7295,'Gregorian calendar start date'@en,,,1667.0,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
11681362,Q11424,'film'@en,P495,'country of origin'@en,Q99541706,'historical unrecognized state'@en,,,P1198,'unemployment rate'@en,,,,,Q11229

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
1058705,Q11424,'film'@en,P495,'country of origin'@en,Q1520223,'constitutional republic'@en,,,P1081,'Human Development Index'@en,,0.9135,,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
7403164,Q11424,'film'@en,P495,'country of origin'@en,Q5255892,'democratic republic'@en,,,P3864,'suicide rate'@en,,,,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
5755768,Q11424,'film'@en,P495,'country of origin'@en,Q43702,'federation'@en,,,P2131,'nominal GDP'@en,,1.153402e+13,,,Q4917

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
511215,Q11424,'film'@en,P495,'country of origin'@en,Q1489259,'superpower'@en,,,P2884,'mains voltage'@en,,,,,Q25250

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
730211,Q11424,'film'@en,P495,'country of origin'@en,Q1489259,'superpower'@en,,,P4010,'GDP (PPP)'@en,,,,,Q550207

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
12338351,Q11424,'film'@en,P495,'country of origin'@en,Q99541706,'historical unrecognized state'@en,,,P571,'inception'@en,,,1847.0,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
5579727,Q11424,'film'@en,P495,'country of origin'@en,Q43702,'federation'@en,,,P1125,'Gini coefficient'@en,,39.1,,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
7073578,Q11424,'film'@en,P495,'country of origin'@en,Q5255892,'democratic republic'@en,,,P2132,'nominal GDP per capita'@en,,,,,Q4917

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
1395106,Q11424,'film'@en,P495,'country of origin'@en,Q1520223,'constitutional republic'@en,,,P2219,'real gross domestic product growth rate'@en,,,2.05,,Q11229

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
7677273,Q11424,'film'@en,P495,'country of origin'@en,Q5255892,'democratic republic'@en,,,P7295,'Gregorian calendar start date'@en,,,1667.0,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
127972,Q11424,'film'@en,P495,'country of origin'@en,Q1489259,'superpower'@en,,,P1125,'Gini coefficient'@en,,,,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
456466,Q11424,'film'@en,P495,'country of origin'@en,Q1489259,'superpower'@en,,,P2299,'PPP GDP per capita'@en,,,,,Q550207

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
12393100,Q11424,'film'@en,P495,'country of origin'@en,Q99541706,'historical unrecognized state'@en,,,P6897,'literacy rate'@en,,,,,Q11229

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
6225152,Q11424,'film'@en,P495,'country of origin'@en,Q43702,'federation'@en,,,P4010,'GDP (PPP)'@en,,1.191551e+13,,,Q550207

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
12119355,Q11424,'film'@en,P495,'country of origin'@en,Q99541706,'historical unrecognized state'@en,,,P3529,'median income'@en,,,,,Q4917

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
7622524,Q11424,'film'@en,P495,'country of origin'@en,Q5255892,'democratic republic'@en,,,P6897,'literacy rate'@en,,,,,Q11229

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
565964,Q11424,'film'@en,P495,'country of origin'@en,Q1489259,'superpower'@en,,,P3001,'retirement age'@en,,,,,Q24564698

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
1003956,Q11424,'film'@en,P495,'country of origin'@en,Q1489259,'superpower'@en,,,P7295,'Gregorian calendar start date'@en,,1667.0,,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
839709,Q11424,'film'@en,P495,'country of origin'@en,Q1489259,'superpower'@en,,,P571,'inception'@en,,,,,

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
292219,Q11424,'film'@en,P495,'country of origin'@en,Q1489259,'superpower'@en,,,P2131,'nominal GDP'@en,,,,,Q4917

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
894458,Q11424,'film'@en,P495,'country of origin'@en,Q1489259,'superpower'@en,,,P6897,'literacy rate'@en,,,,,Q11229

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
6908603,Q11424,'film'@en,P495,'country of origin'@en,Q5255892,'democratic republic'@en,,,P1198,'unemployment rate'@en,,,,,Q11229

Number of positive entities for this label: 54749 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
1564026,Q11424,'film'@en,P495,'country of origin'@en,Q1520223,'constitutional republic'@en,,,P3001,'retirement age'@en,,62.5,,,Q24564698

Number of positive entities for this label: 54792 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
7018465,Q11424,'film'@en,P495,'country of origin'@en,Q5255892,'democratic republic'@en,,,P2131,'nominal GDP'@en,,,,,Q4917

Number of positive entities for this label: 55113 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
6963352,Q11424,'film'@en,P495,'country of origin'@en,Q5255892,'democratic republic'@en,,,P2046,'area'@en,,,,,Q712226

Number of positive entities for this label: 55113 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
7567411,Q11424,'film'@en,P495,'country of origin'@en,Q5255892,'democratic republic'@en,,,P571,'inception'@en,,,,,

Number of positive entities for this label: 55113 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
7128327,Q11424,'film'@en,P495,'country of origin'@en,Q5255892,'democratic republic'@en,,,P2219,'real gross domestic product growth rate'@en,,,,,Q11229

Number of positive entities for this label: 55113 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
6853490,Q11424,'film'@en,P495,'country of origin'@en,Q5255892,'democratic republic'@en,,,P1081,'Human Development Index'@en,,,,,

Number of positive entities for this label: 55113 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
7238189,Q11424,'film'@en,P495,'country of origin'@en,Q5255892,'democratic republic'@en,,,P2884,'mains voltage'@en,,,,,Q25250

Number of positive entities for this label: 55113 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
7348051,Q11424,'film'@en,P495,'country of origin'@en,Q5255892,'democratic republic'@en,,,P3529,'median income'@en,,,,,Q4917

Number of positive entities for this label: 55113 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
1508611,Q11424,'film'@en,P495,'country of origin'@en,Q1520223,'constitutional republic'@en,,,P2884,'mains voltage'@en,,,173.5,,Q25250

Number of positive entities for this label: 55415 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
6279901,Q11424,'film'@en,P495,'country of origin'@en,Q43702,'federation'@en,,,P5167,'vehicles per thousand people'@en,,,,,

Number of positive entities for this label: 55567 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
5810517,Q11424,'film'@en,P495,'country of origin'@en,Q43702,'federation'@en,,,P2132,'nominal GDP per capita'@en,,49229.0,70134.5,,Q4917

Number of positive entities for this label: 56993 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
5027724,Q11424,'film'@en,P495,'country of origin'@en,Q3624078,'sovereign state'@en,,,P5167,'vehicles per thousand people'@en,,309.5,,,

Number of positive entities for this label: 55715 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
6104442,Q11424,'film'@en,P495,'country of origin'@en,Q43702,'federation'@en,,,P3529,'median income'@en,,38459.0,,,Q4917

Number of positive entities for this label: 56993 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
1787072,Q11424,'film'@en,P495,'country of origin'@en,Q1520223,'constitutional republic'@en,,,P5167,'vehicles per thousand people'@en,,,,,

Number of positive entities for this label: 56366 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
1229242,Q11424,'film'@en,P495,'country of origin'@en,Q1520223,'constitutional republic'@en,,,P2046,'area'@en,,5750765.5,,,Q712226

Number of positive entities for this label: 56366 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
9058072,Q11424,'film'@en,P495,'country of origin'@en,Q6256,'country'@en,,,P2299,'PPP GDP per capita'@en,,57625.0075,,,Q550207

Number of positive entities for this label: 56401 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
5523365,Q11424,'film'@en,P495,'country of origin'@en,Q3624078,'sovereign state'@en,,,P7295,'Gregorian calendar start date'@en,,1836.5,,,

Number of positive entities for this label: 56362 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
1172210,Q11424,'film'@en,P495,'country of origin'@en,Q1520223,'constitutional republic'@en,,,P1198,'unemployment rate'@en,,,17.35,,Q11229

Number of positive entities for this label: 57032 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
4010097,Q11424,'film'@en,P495,'country of origin'@en,Q3624078,'sovereign state'@en,,,P2299,'PPP GDP per capita'@en,,57625.0075,,,Q550207

Number of positive entities for this label: 57197 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
4202724,Q11424,'film'@en,P495,'country of origin'@en,Q3624078,'sovereign state'@en,,,P2884,'mains voltage'@en,,118.0,123.5,,Q25250

Number of positive entities for this label: 58981 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
9251210,Q11424,'film'@en,P495,'country of origin'@en,Q6256,'country'@en,,,P2884,'mains voltage'@en,,118.0,123.5,,Q25250

Number of positive entities for this label: 58982 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
1618818,Q11424,'film'@en,P495,'country of origin'@en,Q1520223,'constitutional republic'@en,,,P3529,'median income'@en,,,,,Q4917

Number of positive entities for this label: 58756 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
1113454,Q11424,'film'@en,P495,'country of origin'@en,Q1520223,'constitutional republic'@en,,,P1125,'Gini coefficient'@en,,,,,

Number of positive entities for this label: 58756 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
1449855,Q11424,'film'@en,P495,'country of origin'@en,Q1520223,'constitutional republic'@en,,,P2299,'PPP GDP per capita'@en,,27833.2615,,,Q550207

Number of positive entities for this label: 58756 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
4754777,Q11424,'film'@en,P495,'country of origin'@en,Q3624078,'sovereign state'@en,,,P3529,'median income'@en,,42432.5,48534.5,,Q4917

Number of positive entities for this label: 59389 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
70228,Q11424,'film'@en,P364,'original language of film or TV show'@en,Q1860,'English'@en,,,,,,,,,

Number of positive entities for this label: 61233 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
10477281,Q11424,'film'@en,P495,'country of origin'@en,Q6256,'country'@en,,,P7295,'Gregorian calendar start date'@en,,1726.5,1779.5,,

Number of positive entities for this label: 66436 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
8743329,Q11424,'film'@en,P495,'country of origin'@en,Q6256,'country'@en,,,P2132,'nominal GDP per capita'@en,,48685.0,,,Q4917

Number of positive entities for this label: 62618 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
3697543,Q11424,'film'@en,P495,'country of origin'@en,Q3624078,'sovereign state'@en,,,P2132,'nominal GDP per capita'@en,,51070.5,,,Q4917

Number of positive entities for this label: 63409 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
5867510,Q11424,'film'@en,P495,'country of origin'@en,Q43702,'federation'@en,,,P2219,'real gross domestic product growth rate'@en,,1.45,2.15,,Q11229

Number of positive entities for this label: 63717 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
6161435,Q11424,'film'@en,P495,'country of origin'@en,Q43702,'federation'@en,,,P3864,'suicide rate'@en,,,,,

Number of positive entities for this label: 63717 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
6040725,Q11424,'film'@en,P495,'country of origin'@en,Q43702,'federation'@en,,,P3001,'retirement age'@en,,,66.5,,Q24564698

Number of positive entities for this label: 63717 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
4814166,Q11424,'film'@en,P495,'country of origin'@en,Q3624078,'sovereign state'@en,,,P3864,'suicide rate'@en,,8.73,,,

Number of positive entities for this label: 64118 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
9851234,Q11424,'film'@en,P495,'country of origin'@en,Q6256,'country'@en,,,P3864,'suicide rate'@en,,8.73,,,

Number of positive entities for this label: 64118 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
5634476,Q11424,'film'@en,P495,'country of origin'@en,Q43702,'federation'@en,,,P1198,'unemployment rate'@en,,,7.35,,Q11229

Number of positive entities for this label: 66543 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
9782543,Q11424,'film'@en,P495,'country of origin'@en,Q6256,'country'@en,,,P3529,'median income'@en,,37073.0,48534.5,,Q4917

Number of positive entities for this label: 68691 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
10543717,Q11424,'film'@en,P495,'country of origin'@en,Q6256,'country'@en,,,P7295,'Gregorian calendar start date'@en,,1779.5,1892.5,,

Number of positive entities for this label: 65293 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
6335468,Q11424,'film'@en,P495,'country of origin'@en,Q43702,'federation'@en,,,P571,'inception'@en,,1533.5,,,

Number of positive entities for this label: 67431 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
0,Q11424,'film'@en,P136,'genre'@en,Q130232,'drama'@en,,,,,,,,,

Number of positive entities for this label: 49208 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
10327131,Q11424,'film'@en,P495,'country of origin'@en,Q6256,'country'@en,,,P6897,'literacy rate'@en,,89.95,,,Q11229

Number of positive entities for this label: 73490 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
5295733,Q11424,'film'@en,P495,'country of origin'@en,Q3624078,'sovereign state'@en,,,P6897,'literacy rate'@en,,89.95,,,Q11229

Number of positive entities for this label: 73480 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
5444689,Q11424,'film'@en,P495,'country of origin'@en,Q3624078,'sovereign state'@en,,,P7295,'Gregorian calendar start date'@en,,1641.0,1836.5,,

Number of positive entities for this label: 78676 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
131461,Q11424,'film'@en,P462,'color'@en,Q22006653,'color'@en,,,,,,,,,

Number of positive entities for this label: 66684 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
3036799,Q11424,'film'@en,P495,'country of origin'@en,Q3624078,'sovereign state'@en,,,P1125,'Gini coefficient'@en,,,,,

Number of positive entities for this label: 85988 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
5369213,Q11424,'film'@en,P495,'country of origin'@en,Q3624078,'sovereign state'@en,,,P7295,'Gregorian calendar start date'@en,,,1641.0,,

Number of positive entities for this label: 75476 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
10400621,Q11424,'film'@en,P495,'country of origin'@en,Q6256,'country'@en,,,P7295,'Gregorian calendar start date'@en,,,1641.5,,

Number of positive entities for this label: 76660 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
8415029,Q11424,'film'@en,P495,'country of origin'@en,Q6256,'country'@en,,,P2046,'area'@en,,1425608.0,,,Q712226

Number of positive entities for this label: 93412 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
3339535,Q11424,'film'@en,P495,'country of origin'@en,Q3624078,'sovereign state'@en,,,P2046,'area'@en,,1424666.0,,,Q712226

Number of positive entities for this label: 95637 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
4502693,Q11424,'film'@en,P495,'country of origin'@en,Q3624078,'sovereign state'@en,,,P3001,'retirement age'@en,,61.0,,,Q24564698

Number of positive entities for this label: 90343 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
9529065,Q11424,'film'@en,P495,'country of origin'@en,Q6256,'country'@en,,,P3001,'retirement age'@en,,61.0,,,Q24564698

Number of positive entities for this label: 91381 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
8535777,Q11424,'film'@en,P495,'country of origin'@en,Q6256,'country'@en,,,P2131,'nominal GDP'@en,,1.793920e+12,,,Q4917

Number of positive entities for this label: 119140 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
4905301,Q11424,'film'@en,P495,'country of origin'@en,Q3624078,'sovereign state'@en,,,P4010,'GDP (PPP)'@en,,2.335334e+12,,,Q550207

Number of positive entities for this label: 122423 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
3461078,Q11424,'film'@en,P495,'country of origin'@en,Q3624078,'sovereign state'@en,,,P2131,'nominal GDP'@en,,9.333207e+11,,,Q4917

Number of positive entities for this label: 134293 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
9942795,Q11424,'film'@en,P495,'country of origin'@en,Q6256,'country'@en,,,P4010,'GDP (PPP)'@en,,1.465768e+12,,,Q550207

Number of positive entities for this label: 134137 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
2861907,Q11424,'film'@en,P495,'country of origin'@en,Q3624078,'sovereign state'@en,,,P1081,'Human Development Index'@en,,0.6695,,,

Number of positive entities for this label: 131278 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
7994784,Q11424,'film'@en,P495,'country of origin'@en,Q6256,'country'@en,,,P1081,'Human Development Index'@en,,0.6695,,,

Number of positive entities for this label: 132276 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
3122787,Q11424,'film'@en,P495,'country of origin'@en,Q3624078,'sovereign state'@en,,,P1198,'unemployment rate'@en,,,21.0,,Q11229

Number of positive entities for this label: 147745 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
10149984,Q11424,'film'@en,P495,'country of origin'@en,Q6256,'country'@en,,,P571,'inception'@en,,1637.0,,,

Number of positive entities for this label: 152397 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
8198250,Q11424,'film'@en,P495,'country of origin'@en,Q6256,'country'@en,,,P1198,'unemployment rate'@en,,,21.0,,Q11229

Number of positive entities for this label: 148411 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
3760952,Q11424,'film'@en,P495,'country of origin'@en,Q3624078,'sovereign state'@en,,,P2219,'real gross domestic product growth rate'@en,,-4.75,9.05,,Q11229

Number of positive entities for this label: 156594 (out of 176405 entities of this type)

,type,type_label,prop,prop_label,value,value_label,value_lb,value_ub,prop2,prop2_label,value2,value2_lb,value2_ub,si_units,wd_units
8805947,Q11424,'film'@en,P495,'country of origin'@en,Q6256,'country'@en,,,P2219,'real gross domestic product growth rate'@en,,-4.75,9.05,,Q11229

Number of positive entities for this label: 157600 (out of 176405 entities of this type)